#osx-modal-content, #osx-modal-data {display:none;}

/* Overlay */
#osx-overlay {background-color:#000;}

/* Container */
#osx-container {margin-top: 80px; background-color:#eee; color:#000; font: 16px/24px "Lucida Grande",Arial,sans-serif; padding-bottom:4px; width:560px; -moz-border-radius-bottomleft:6px; -webkit-border-bottom-left-radius:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-right-radius:6px; border-radius:0 0 6px 6px; -moz-box-shadow:0 0 64px #000; -webkit-box-shadow:0 0 64px #000; box-shadow:0 0 64px #000;}
#osx-container a {color:#ddd;}
#osx-container #osx-modal-title {color:#000; background-color:#ddd; border-bottom:1px solid #ccc; font-weight:bold; padding:6px 8px; text-shadow:0 1px 0 #f4f4f4;}
#osx-container .close {display:none; position:absolute; right:0; top:0;}
#osx-container .close a {display:block; color:#777; font-weight:bold; padding:6px 12px 0; text-decoration:none; text-shadow:0 1px 0 #f4f4f4;}
#osx-container .close a:hover {color:#000;}
#osx-container #osx-modal-data {font-size:12px; padding:6px 12px;}
#osx-container h2 {margin:10px 0 6px;}
#osx-container p {margin-bottom:10px;}
#osx-container span {color:#777;}

/*Hieronder een aantal opmaakcodes voor het formulier*/
input, textarea, select{
font-size:1.5em;
resize: none;
}

#submit {
 background: #ebebeb;
  background-image: -webkit-linear-gradient(top, #ebebeb, #333333);
  background-image: -moz-linear-gradient(top, #ebebeb, #333333);
  background-image: -ms-linear-gradient(top, #ebebeb, #333333);
  background-image: -o-linear-gradient(top, #ebebeb, #333333);
  background-image: linear-gradient(to bottom, #ebebeb, #333333);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font: 1.5em "Lucida Grande",Arial,sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: solid #706f70 2px;
  margin-bottom: 16px;
}

	#submit:hover {
  background: #adadad;
  background-image: -webkit-linear-gradient(top, #adadad, #1e1f1f);
  background-image: -moz-linear-gradient(top, #adadad, #1e1f1f);
  background-image: -ms-linear-gradient(top, #adadad, #1e1f1f);
  background-image: -o-linear-gradient(top, #adadad, #1e1f1f);
  background-image: linear-gradient(to bottom, #adadad, #1e1f1f);
	}
	